body{
    background-color: #000000;
    margin: 0;/* 去掉自带的外边距 */
}
img{
    position: absolute;
}
.page-footer {
  position: fixed;
  right: 35px;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  color: black;
  background: rgba(255, 255, 255, 0.65);
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}
.touxiang{
    bottom: 0px;
    width:30px;
    height:30px;
}